# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Listing the most popular langauges used in data science
* Listing common libraries used in data science
* Creating a table containing data science tools
* Introduce arithmetic expressions in Python

Some of the popular languages are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Sklearn
2. Numpy
3. Pandas
4. Matplotlib
5. Seaborn

| Data Science Tools |
| :----------------: |
| MySQL |
| Apache Airflow |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Abdulrahman Barakat